/* ESTILO GENERAL */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* INDEX CONTENEDOR */
.index-container {
    text-align: center;
    padding: 50px 20px;
}

/* NAVBAR */
nav {
    background-color: #007BFF;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* MENSAJE DE BIENVENIDA */
span {
    display: inline;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

h1, h2{
    color: #333;
    text-align: center;
}

/* TABLAS */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* ALTERNAR COLOR FILAS */
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: darkred;
}

button:active {
    background-color: #9b0000;
}

button:focus{
    outline: none;
}

button[type="submit"] {
    background-color: #28a745;
}


/* LOGIN CONTENEDOR */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* REGISTRO CONTENEDOR */
.registro-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
}

form div{
    margin-bottom: 15px;
}

label{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

input[type="email"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007BFF; /* Color de borde cuando se hace focus */
    outline: none;
}


/* ENLACES */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}


/* MENSAJE ERROR */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* VOLVER INICIO */
.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #007BFF;
    font-size: 14px;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}


/* FORMULARIO ADMIN PELICULAS */
.form-group {
    margin-bottom: 15px;
}

input[type="number"]:focus, input[type="text"]:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

button.edit-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

button.edit-btn:hover {
    background-color: greenyellow;
}

/* PANEL ADMIN */
.admin-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-title {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
}

.admin-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.admin-nav li {
    width: 100%;
}

.admin-nav a {
    display: block;
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.admin-nav a:hover {
    background-color: #0056b3;
}
