<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administración de películas</title>
</head>
<body>
    <button th:href="@{/}">Volver al inicio</button>
    <h1>Administrar películas</h1>
    <h1>Lista de peliculas</h1>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Duracion</th>
                <th>Genero</th>
                <th>Director</th>
                <th>Sinopsis</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pelicula : ${peliculas}">
                <td th:text="${pelicula.titulo}"></td>
                <td th:text="${pelicula.duracion}"></td>
                <td th:text="${pelicula.genero}"></td>
                <td th:text="${pelicula.director}"></td>
                <td th:text="${pelicula.sinopsis}"></td>
            </tr>
        </tbody>
    </table>

    <h2>Agregar Película</h2>
    <form th:action="@{/admin/peliculas}" method="post">
        <label>Título:</label>
        <input type="text" name="titulo" required>

        <label>Duracion (minutos):</label>
        <input type="number" name="duracion" required>

        <label>Genero:</label>
        <input type="text" name="genero" required>

        <label>Director:</label>
        <input type="text" name="director" required>

        <button type="submit">Agregar película</button>
    </form>
</body>
</html>
