<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="index-container">
        <nav>
            <a th:href="@{/autenticacion/login}">Iniciar sesion</a>
            <a th:href="@{/autenticacion/registro}">Registro</a>
            <a th:href="@{/admin}">Panel admin</a>
            <a th:href="@{/peliculas}">Ver cartelera</a>
            <a th:href="@{/emisiones}">Ver emisiones</a>
            <!--<span th:if="${usuario != null}">-->
                <a th:href="@{/compras}">Comprar boletos</a>
            <!--</span>  -->
            
        </nav>
    </div>
    <br>
    <span th:if="${usuario != null}">
        Bienvenido, <span th:text="${usuario.nombre}"></span>!
    </span>   
</body>
</html>
