<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a th:href="@{/}">Volver al inicio</a>

    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/autenticacion/login}" method="post">
            <div>
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" placeholder="ejemplo@correo.com" required>
            </div>

            <div>
                <label for="contrasenya">Contraseña:</label>
                <input type="password" id="contrasenya" name="contrasenya" placeholder="********" required>
            </div>

            <button type="submit">Login</button>
        </form>

        <p>No tienes una cuenta? <a th:href="@{/autenticacion/registro}">Regístrate aquí</a></p>

        <p th:if="${param.error}" class="error-message">Email o contraseña inválidos</p>

    </div>
    
</body>
</html>