<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel Admin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <a th:href="@{/}">Volver al inicio</a>
    <div class = "admin-container">
        <h1 class="admin-title">Bienvenido, <span th:if="${usuario != null}" th:text="${usuario.nombre}"></span>!</h1>
        <nav class = "admin-nav">
            <ul>
                <li><a th:href="@{/admin/usuarios}">Gestionar usuarios</a></li>
                <li><a th:href="@{/admin/peliculas}">Gestionar peliculas</a></li>
                <li><a th:href="@{/admin/salas}">Gestionar salas</a></li>
                <li><a th:href="@{/admin/emisiones}">Programar funciones</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>