<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <a th:href="@{/}">Volver al inicio</a>
    <h1>Lista de peliculas</h1>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Duracion</th>
            <th>Genero</th>
            <th>Director</th>
            <th>Sinopsis</th>
        </tr>
        <tr th:each="pelicula : ${peliculas}">
            <td th:text="${pelicula.titulo}"></td>
            <td th:text="${pelicula.duracion}"></td>
            <td th:text="${pelicula.genero}"></td>
            <td th:text="${pelicula.director}"></td>
            <td th:text="${pelicula.sinopsis}"></td>
        </tr>
    </table>
</body>
</html>